*{
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #33CC36; }
  40%  { background: #B8CC33; }
  60%  { background: #FCCA00; }
  80%  { background: #33CC36; }
  100% { background: #33CCCC; }
} 
body {
  background: #33CCCC; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 200px;
  font-family: 'Karla', sans-serif;
}

header {
  justify-content: space-between;
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
}

.time{
  display: flex;
}

.hs a {
  text-decoration: none;
  color: plum;
  
  
  
}
.time{
  
  justify-self: flex-end;
}

.container {
  display: flex;
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

.description {
  padding-bottom: 20px;
}

.btn {
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  font-size: large;
  margin: 10px auto;
}

.btn:hover {
  background-color: plum;
}

.answer-btn {
  display: block;
  width: 200px;
}

.end {
  display: block;
  text-align:left;
}

.correct {
  font-style: italic;
  color: rgb(250, 230, 13);
  border-top: 2px solid rgb(0, 0, 0);
  font-size: large;
  margin:25px auto;
  padding: 10px;
  width: 60%;
  
}

.highscores {
  width: 40%;
  margin: 150px auto;
  
}

ol {
  padding: 20px 0;
}

li {
  padding: 5px 0;
  list-style-position: inside;
}

li:nth-child(2n-1){
  background-color: lavender;
}

.hide {
  display: none;
}

.quiz {
  margin: 10px auto;
}
